

/*MOBIELE GRID*/
@media screen and (max-width: 576px) {
    .order-item-detail-container  {
        border-radius: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 50px auto;
        grid-template-areas:
                "left"
                "header"
                "content";
    }
}

/*DESKTOP GRID*/
.order-item-detail-container {
    background-color: #e5cfc8;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    color: #0b2855;
    /*max-height: 200px;*/
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 30px auto;
    grid-template-areas:
            "left header"
            "left content";
}

#left {
    background-color: var(--main-bg-color);
    font-size: 24px;
    grid-area: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    background-color: #32b5e1;
    grid-area: header;
}


.form {

    background-color: #d4dbe9;
    grid-area: content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.form label {
    margin: 4px 0;
    font-weight: bold;
}

.form input {
    width: 100%;
    padding: 4px 8px;
    margin: 6px 0;
}

fieldset
{
    min-width:200px;
    margin: 20px;
}

.order-item-attributes,
.header {
    padding: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-group {
    font-size: 85%;
    text-decoration: underline;
    margin: 5px;
}