
/*MOBIELE GRID*/
@media screen and (max-width: 576px) {
    .users-container  {
        border-radius: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 50px auto;
        grid-template-areas:
                "left"
                "header"
                "content";
    }
}

/*DESKTOP GRID*/
.users-container {
    background-color: var(--main-bg-color);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    color: #0b2855;
    /*max-height: 200px;*/
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 30px auto;
    grid-template-areas:
            "left header"
            "left content";
}

.menu-bar {
    background-color: white;
    color: #002855;
    display: flex;
    padding: 0 32px;
    align-items: center;
    justify-content: space-between;
}

.menu-bar button + button {
    margin-left: 8px;
}

.menu-bar button:hover {
    cursor: pointer;
    color: #002855;
}


.table-users  {
    color: #002855;
    border-collapse: collapse;
    width: 100%;
    vertical-align: middle;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    text-align:left;
}

.table-users th {
    padding: 1em;
    background-color: #32b5e1;
    border-bottom: 2px solid #002855;

}

.table-users td {
    padding: 1em;
    background-color: #e5cfc8;
    border-bottom: 2px solid #002855;
}

#username:hover{
    color: red;
    font-style: oblique;
    cursor: pointer;
}

