
/*MOBIELE GRID*/
@media screen and (max-width: 576px) {
    .users-container  {
        border-radius: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 50px auto;
        grid-template-areas:
                "left"
                "header"
                "content";
    }
}

/*DESKTOP GRID*/
.users-container {
    background-color: var(--main-bg-color);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    color: #0b2855;
    /*max-height: 200px;*/
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 30px auto;
    grid-template-areas:
            "left header"
            "left content";
}

.menu-bar {
    background-color: white;
    color: #002855;
    display: flex;
    padding: 0 32px;
    align-items: center;
    justify-content: space-between;
}

.menu-bar button + button {
    margin-left: 8px;
}

.menu-bar button:hover {
    cursor: pointer;
    color: #002855;
}