.menu-bar {
    background-color: white;
    color: #002855;
    display: flex;
    padding: 0 32px;
    align-items: center;
    justify-content: space-between;
}

.menu-bar button + button {
    margin-left: 8px;
}

.menu-bar button:hover {
    cursor: pointer;
    color: #002855;
}

