nav {
    background-color: white;
    color: #002855;
    display: flex;
    padding: 0 32px;
    align-items: center;
    justify-content: space-between;
}

nav a,
nav a:visited,
nav a:active {
    color: #002855;
}

.logo-container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.logo-container svg {
    width: 147px;
    margin-right: 8px;
}



.menu button {
    border-radius: 4px;
    border: none;
    /*color: white;*/
    padding: 8px 16px;
    background-color: transparent;
    color: #002855;
    font-weight: bold;
    font-size: 150%;
}


.menu button + button {
    margin-left: 8px;
}

.menu button:hover {
    cursor: pointer;
}

a:hover {
    color: #ea7e1f;
}

.user-section {
    color: #002855;
   display: inline-flex;
    align-items: center;

}

.switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 50px;
}

nav input[type="checkbox"] {
     position: relative;
     display: inline-block;
     width: 40px;
     height: 20px;
     -webkit-appearance: none;
     background: #c6c6c6;
     outline: none;
     border-radius: 10px;
     transition: .1s;

 }

nav input:checked[type="checkbox"] {
    background: #32b5e1;
}

nav input[type="checkbox"]:before {
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    left:0;
    background: #002855;
    transition: .1s;
}

nav input:checked[type="checkbox"]:before {
   left:20px;
}




